.page {
	width: 100%;
	height: 70%;
}
.add_user {
	float: left;
	border-radius: 25px;
	padding-top: 2%;
	padding-left: 2%;
	width: 20%;
	height: 100%;
	background-color: aqua;
	box-shadow:
	inset 0 -3em 3em rgba(0,0,0,0.1),
	0 0  0 2px rgb(255,255,255),
	0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.home {
	position:absolute;
	bottom:5;
	left:20;
}

.remove_user {
	float: left;
	border-radius: 25px;
	padding-top: 2%;
	padding-left: 2%;
	width: 20%;
	height: 100%;
	background-color: aqua;
	box-shadow:
	inset 0 -3em 3em rgba(0,0,0,0.1),
	0 0  0 2px rgb(255,255,255),
	0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.add_admin {
	float: left;
	border-radius: 25px;
	padding-top: 2%;
	padding-left: 2%;
	width: 20%;
	height: 100%;
	background-color: aqua;
	box-shadow:
	inset 0 -3em 3em rgba(0,0,0,0.1),
	0 0  0 2px rgb(255,255,255),
	0.3em 0.3em 1em rgba(0,0,0,0.3);
}
